*.pyc
.idea
.vscode
venv
.venv
results
stimuli/a/*
stimuli/m/*
stimuli/1/*
stimuli/2/*
stimuli/3/*
stimuli/4/*
stimuli/5/*
stimuli/6/*
stimuli/7/*
stimuli/8/*
stimuli/9/*
stimuli/10/*
stimuli/11/*
stimuli/12/*
